<main>
  <div class = "container">
    <header>
      <div class ="page-header">
        <h1>Add & Edit Flaschards <small>Chapter 1 <small>Computing</small></small></h1>
      </div>
    </header>
  </div>
  <div class="container">
    <div class = "row">
      <div class="col-md-3">
        <h3>Card: 27/123</h3>
      </div>
      <div class="col-md-6">
        <h3>Type</h3>
        <form>
          <label class="radio-inline"><input type="radio" name="optradio">Term & Definition</label>
          <label class="radio-inline"><input type="radio" name="optradio">Question & Answer</label>
          <label class="radio-inline"><input type="radio" name="optradio">Term & Translation</label>
        </form>
      </div>
      <div class="col-md-2">
        <h3>Grade</h3>
        <select class="form-control input-lg" id="gradeoption" ng-model="grade">
          <option>A*</option>
          <option>A</option>
          <option>B</option>
          <option>C</option>
          <option>D</option>
          <option>E</option>
          <option>F</option>
          <option>G</option>
        </select>
      </div>
    </div>
    <div class = "row">
      <form role="form">
        <h3>Content</h3>
        <div class="form-group col-sm-5">
          <label for="name">Front</label>
          <textarea id = "flashcard" class="form-control" rows="5" ng-model="carddetails.front"></textarea>
        </div>
        <div class = "col-sm-2">
          <center>
            <img id = "topbutton" class="magicbuttons" src="images/bolt1.png" width=65px></img>
            <br>
            <img class="magicbuttons" ng-click="search(carddetails.front)" src="images/search.png" width=65px></img>
          </center>
        </div>
        <div class="form-group col-sm-5">
          <label for="name">Back</label>
          <textarea  id = "flashcard" class="form-control" rows="5"></textarea>
        </div>
      </form>
    </div>
  <div class = "row">
    <img class="col-xs-1" src="images/arrow-left.png" width=65px></img>
    <img class="col-xs-offset-9 col-xs-1" src="images/tick.png" width=65px></img>
    <img class="col-xs-1" src="images/arrow-right.png" width=65px></img>
  </div>
  </div>
</main>
