<head>
  <title>Edit Set - {{cardsetdetails.setname}}</title>
</head>
<!--Navbar-->
<div class="navbar navbar-custom navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <!--Toggle navigation button on mobile version-->
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class = "icon-bar"></span>
        <span class = "icon-bar"></span>
        <span class = "icon-bar"></span>
      </button>
      <a class = "navbar-brand"  href = "/#/start/{{userid}}"><p>
        <img class="logo" src="images/logowhite.png" />
        <img class="logo hover" src="images/logoblack.png" />
        E-Flashcards</p>
      </a>
    </div>
    <div class = "navbar-collapse collapse">
      <ul class = "nav navbar-nav navbar-right">
        <!--Buttons - unique to page-->
        <li ><a  class="nav-button" href="/#/start/{{userid}}">Start</a></li>
        <li><a class="nav-button" href="/#/newset/{{userid}}">New Set</a></li>
        <li><a class="nav-button active" >Edit Set</a></li>
        <li><a class="nav-button" href="/#/subjects/{{userid}}">Subjects</a></li>
      </ul>
    </div>
  </div>
</div>
<main>
  <div class = "container">
    <header>
      <div class ="page-header">
        <h1>Add & Edit Flashcards <small>{{cardsetdetails.setname}} <small>{{cardsetdetails.subjectname}}</small></small></h1>
      </div>
    </header>
  </div>
  <div class="container">
    <div class = "row">
      <div class="col-md-3">
        <h3>Card: {{cardsetdetails.cardno}}/{{cardsetdetails.totalcards}}</h3>
      </div>
      <div class="col-md-6">
        <h3>Type</h3>
        <form>
          <div class="btn-group" id="#typeRadio">
            <label class="radio-inline"><input type="radio" name="optradio" data-ng-model="carddetails.cardtype" value="0">Term & Definition</label>
            <label class="radio-inline"><input type="radio" name="optradio" data-ng-model="carddetails.cardtype" value="1">Question & Answer</label>
            <label class="radio-inline"><input type="radio" name="optradio" data-ng-model="carddetails.cardtype" value="2">Term & Translation</label>
          </div>
        </form>
      </div>
      <div class="col-md-2">
        <h3>Grade</h3>
        <select class="form-control input-lg" id="gradeoption" ng-model="carddetails.grade">
          <option>None</option>
          <option>A*</option>
          <option>A</option>
          <option>B</option>
          <option>C</option>
          <option>D</option>
          <option>E</option>
          <option>F</option>
          <option>G</option>
        </select>
      </div>
    </div>
    <div class = "row">
      <form role="form">
        <h3>Content</h3>
        <div class="form-group col-sm-5">
          <label for="flashcardfront">Front</label>
          <textarea id = "flashcardfront"  class="flashcardinput form-control" rows="5" cols = "20" wrap="hard" ng-model="carddetails.front" ng-click="removered('flashcardfront')"></textarea>
        </div>
        <div class = "col-sm-2">
          <center>
            <img id = "topbutton" class="magicbuttons" src="images/bolt1.png" ng-click="autoDefine(carddetails.front, carddetails.cardtype)" width=65px></img>
            <br>
            <img class="magicbuttons" ng-click="search(carddetails.front)" src="images/search.png" width=65px></img>
          </center>
        </div>
        <div class="form-group col-sm-5">
          <label for="flashcardback">Back</label>
          <textarea  id = "flashcardback" class="flashcardinput form-control" rows="5" ng-model="carddetails.back" ng-click="removered('flashcardback')"></textarea>
        </div>
      </form>
    </div>
  <div class = "row">
    <img class="col-xs-1" src="images/arrow-left.png" width=65px ng-click="previouscard(carddetails)"></img>
    <img class="col-xs-offset-9 col-xs-1" src="images/tick.png" width=65px ng-click="save(carddetails)"></img>
    <img class="col-xs-1" src="images/arrow-right.png" width=65px ng-click="nextcard(carddetails)"></img>
  </div>
  </div>

  <!--Modal = pop-up box -->
  <!--Definition pop-up box-->
  <div class="modal fade" id="autoDefine" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Auto Define</h4>
        </div>
        <div class="modal-body">
          <form class = "form-horizontal">
          <div class="row form-group">
            <div class="col-sm-6">
              <h3 class="nopadding">{{definitions_title}}</h3><br>
              <div class="btn-group-vertical col-sm-12" id="#results-group" role="group" aria-label="...">
                  <div   ng-repeat="definition in definitions">
                    <label  class="radio-vertical definition"><input type="radio" name="optradio" value={{definition}} ng-model="selected.text"> {{definition}}</label>
                  </div>
              </div>
            </div>
            <div class="col-sm-6">
              <h3 class="nopadding">{{wikipedia_title}}</h3><br>
              <div  class="col-sm-6" ng-repeat="article in articles">
                <label  class="radio-vertical article"><h4 class = "nopadding"><input type="radio" name="optradio" value={{article.text}} ng-model="selected.text"> {{article.title}}<small> {{article.text}}</small></h4></label>
                <div align="right"><a href={{article.link}} target="_blank">Full Article</a></div>
              </div>
            </div>
          </div>
        </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" ng-click="select(selected.text)" data-dismiss="modal">Select</button>
        </div>
      </div>
    </div>
  </div>
  <!--Question pop-up box-->
  <div class="modal fade" id="searchPrompt" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header-error">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Auto Define Unavailable for questions</h4>
        </div>
        <div class="modal-body">
          <h4>Try searching your question...</h4>
          <center><button ng-click="search(carddetails.front)" class="searchbar">{{carddetails.front}}  <span class="glyphicon glyphicon-search searchbutton" aria-hidden="true"></span></button></center>
        </div>
      </div>
    </div>
  </div>
  <!--Translation pop-up box-->
  <div class="modal fade" id="autoTranslate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-md" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Translate</h4>
        </div>
        <div class="modal-body">
          <form class = "form-horizontal">
            <div class="row form-group">
              <div class="col-sm-6">
                <h3 class="nopadding">Translate From</h3><br>
                <select class="form-control input-lg"  ng-model="langfrom">
                  <optgroup label="Top Languages">
                    <option ng-repeat="language in toplanguages" value={{language.code}}>{{language.name}}</option>
                  </optgroup>
                  <optgroup label="All Languages">
                    <option ng-repeat="language in alllanguages" value={{language.code}}>{{language.name}}</option>
                  </optgroup>
                </select>
              </div>
              <div class="col-sm-6">
                <h3 class="nopadding">Translate To</h3><br>
                <select class="form-control input-lg"  ng-model="langto">
                  <optgroup label="Top Languages">
                    <option ng-repeat="language in toplanguages" value={{language.code}}>{{language.name}}</option>
                  </optgroup>
                  <optgroup label="All Languages">
                    <option ng-repeat="language in alllanguages" value={{language.code}}>{{language.name}}</option>
                  </optgroup>
                </select>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" ng-click="translate(langfrom, langto)" data-dismiss="modal">Translate</button>
        </div>
      </div>
    </div>
  </div>
  <!--Error pop-up box-->
  <div class="modal fade" id="errorBox" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-md" role="document">
      <div class="modal-content">
        <div class="modal-header-error">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Error</h4>
        </div>
        <div class="modal-body">
          <h4>Please select a type first</h4>
        </div>
      </div>
    </div>
  </div>
</main>
