<head>
  <title>Manual Testing - {{set.name}}</title>
</head>
<!--Navbar-->
<div class="navbar navbar-custom navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <!--Toggle navigation button on mobile version-->
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class = "icon-bar"></span>
        <span class = "icon-bar"></span>
        <span class = "icon-bar"></span>
      </button>
      <a class = "navbar-brand"  href = "/#/start/{{userid}}"><p>
        <img class="logo" src="images/logowhite.png" />
        <img class="logo hover" src="images/logoblack.png" />
        E-Flashcards</p>
      </a>
    </div>
    <div class = "navbar-collapse collapse">
      <ul class = "nav navbar-nav navbar-right">
        <!--Buttons - unique to page-->
        <li ><a  class="nav-button" href="/#/start/{{userid}}">Start</a></li>
        <li><a class="nav-button" href="/#/newset/{{userid}}">New Set</a></li>
        <li><a class="nav-button active" >Learn Set</a></li>
        <li><a class="nav-button" href="/#/subjects/{{userid}}">Subjects</a></li>
      </ul>
    </div>
  </div>
</div>
<main>
  <div class = "container">
    <header>
      <div class ="page-header">
        <h1>Learn {{set.name}} <small >Manual Testing</h1>
      </div>
    </header>
  </div>
  <div class="container">
    <div class = "row">
      <div class="col-xs-6 col-sm-8 col-md-10">
        <h3>{{set.learnt}}/{{set.total}} Cards Learnt | Current Grade <strong>{{set.predicted_grade}}</strong> | Exam Date <strong>{{set.examdate}}</strong></h3>
      </div>
    </div>
    <div class="progress">
      <!--Green progress bar min width prevents it from getting too small if percentage is 0-->
      <div class="progress-bar progress-bar-success" style="width: {{percentage}}%; min-width: 2em;">
        {{percentage}}%
      </div>
    </div>
    <!--Bootstrap Carousel to contain flashcards-->
    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
      <!--Carousel indicators - dots at bottmom of carousel to navigate slides-->
      <ol class="carousel-indicators">
        <li  ng-repeat="card in flashcards" data-target="#myCarousel" data-slide-to={{$index}} class={{card.active}}></li>
      </ol>
      <div class="carousel-inner">
        <div ng-repeat="card in flashcards" class="item thumbnail flashcard {{card.active}}">
            <div class="half">
              <div class = "row">
                <div class="col-xs-6"align="left">
                  <form>
                    <input class = "btn" style="font-size:15px;" type="button" id="show-section1" value="Show/Hide Back" ng-click="section1=!section1" />
                  </form>
                </div>
                <h1 align="right" class="nopadding col-xs-4">{{card.grade}}&nbsp;&nbsp;</h1>
                <img class="findoutmoreleft col-xs-1" ng-click="wiki(card.front)" src="images/wikipedia.png" width=90%></img>
                <img class="findoutmoreright  col-xs-1" ng-click="search(card.front)" src="images/search.png" width=90%></img>
              </div>
              <center>{{card.front}}</center>
            </div>
            <div class="half" id=bottom>
              <section id="section1" ng-show="section1">
                <center>{{card.back}}</center>
                <div style="font-size:20px;" align="right">Learnt: <input type="checkbox" name="my-checkbox" ng-model="card.learnt" ng-click="changelearnt(card)"></div>
              </section>
            </div>
          </div>
          <!--Link to summary page-->
          <div class="item thumbnail flashcard">
            <center><h1>Testing Complete<br><a href="/#/summary/{{userid}}/{{setid}}">View summary</a></h1></center>
          </div>
        </div>
      <!-- Carousel controls -->
      <a class="carousel-control left" href="//#myCarousel" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="carousel-control right" href="//#myCarousel" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
  </div>
</div>
