<main>
  <div class = "container">
    <header>
      <div class ="page-header">
        <h1>Create New Set</h1>
      </div>
    </header>
  </div>
  <div class="container">
      <div class="col-sm-offset-3 col-sm-9">
        <form name="NewSetForm" class = "form-horizontal" >
          <div class="row">
            <div class="col-sm-offset-2 col-sm10s">
              <h2>Set Details</h2>
            </div>
          </div>
            <div class="form-group">
              <div class="row">
                <label class="control-label col-sm-2"for="settitle">Title</label>
                <div class="col-sm-6">
                  <input type="text" name="settitle" ng-model="setdetails.title" id="title" class="form-control" placeholder="Enter set title">
                </div>
                <div class="col-sm-4 errormessage">
                  <!--<p>{{errormessage.title}}</p>-->
                </div>
              </div>
              <div class="row">
                <label class="control-label col-sm-2"for="subject">Subject</label>
                <div class="col-sm-4">
                  <select class="form-control" id="subject" ng-model="setdetails.subject">
                    <option ng-repeat="subject in subjects">{{subject}}</option>
                  </select>
                </div>
                <div class="col-sm-2 errormessage">
                  <!--<p>{{errormessage.subject}}</p>-->
                </div>
              </div>
              <div class="row">
                <label class="control-label col-sm-2" for="examdate">Exam Date</label>
                <div class="col-sm-3">
                  <input type='date' class="form-control">
                </div>
                <div class="col-sm-5 errormessage">
                  <!--<p>{{errormessage.exasmate}}</p>-->
                </div>
              </div>
            </div>
          </form>
        </div>
      <div class="col-sm-offset-8 col-sm-1">
        <button align = "right" class="btn btn-primary">Add Cards</button>
      </div>
    </div>
  </div>
</main>
