<div class="navbar navbar-custom navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class = "icon-bar"></span>
        <span class = "icon-bar"></span>
        <span class = "icon-bar"></span>
      </button>
      <a class = "navbar-brand"  href = "/#/start/{{userid}}"><p><img id=logo src="images/logowhite.png" align="bottom" width="30px" height="30px"> E-Flashcards</p></a>
    </div>
    <div class = "navbar-collapse collapse">
      <ul class = "nav navbar-nav navbar-right">
        <li ><a  class="nav-button" href="/#/start/{{userid}}">Start</a></li>
        <li><a class="nav-button" href="/#/newset/{{userid}}">New Set</a></li>
        <li><a class="nav-button active"> Set - {{set.name}}</a></li>
        <li><a class="nav-button" href="/#/subjects/{{userid}}">Subjects</a></li>
        <li><a class="nav-button" href="/#/">Log Out</a></li>
      </ul>
    </div>
  </div>
</div>
<main>
  <div class = "container">
    <div class = "row">
    <header>
        <div class = "page-header col-xs-6 col-sm-8 col-md-10">
          <h1><img  src="/images/subjects/{{subject.image}}" alt="/images/subjects/Other.png" width=70px> {{set.name}}<small> {{subject.name}}</h1>
        </div>
    </header>
        <div class="view-change col-xs-6 col-sm-4 col-md-2">
          <a href="/#/set/list/{{path}}">
          <img  src = "images/list-square.png" height="100" width="100">
        </a>
        </div>
      </div>
  </div>
  <div class="container">
    <div class = "row">
      <div class="col-xs-6 col-sm-8">
        <h3>{{learnt}}/{{total}} Cards Learnt | <div class = "visible-xs-inline"><br></div>Current Grade <strong>C</strong> | <div class = "visible-xs-inline"><br></div>Exam Date <strong>13/06/16</strong> |</h3>
      </div>
      <div class="col-xs-6 col-md-4 align-right" style="float:right; text-align: right;">
        <br>
        <div class="btn-group" role="group">
          <button data-toggle="modal" data-target="#learn" class="btn btn-success"><div class = "visible-lg-inline visible-md-inline">Learn</div>
            <span class="glyphicon glyphicon-education" aria-hidden="true"></span>
            <span class="sr-only">Complete</span>
          </button>
          <button ng-click="updateItem(item)" class="btn btn-warning"><div class = "visible-lg-inline visible-md-inline">Edit</div>
            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
            <span class="sr-only">Edit</span>
          </button>
          <button ng-click="removeItem(item)" class="btn btn-danger"><div class = "visible-lg-inline visible-md-inline">Delete</div>
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            <span class="sr-only">Remove</span>
          </button>
        </div>
      </div>
    </div>
    <div class="progress">
      <div class="progress-bar progress-bar-success" style="width: {{percentage}}%; min-width: 2em;">
        {{percentage}}%
      </div>
    </div>
    <!--<div class="row">-->
      <div ng-repeat="flashcard in flashcards" class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="thumbnail" ng-click="selectflashcard(flashcard.id)">
          <center><div class="side" style="font-size : {{flashcard.frontsize}};">
            <center>{{flashcard.front}}</center>
          </div>
          <div class="side" id="back" style="font-size : {{flashcard.backsize}};">
            <center>{{flashcard.back}}</center>
          </div></center>
          <div align="right" class="bottom-tab {{flashcard.bg}}">
             {{flashcard.gradegrid}}<span class={{flashcard.icon}} aria-hidden="true"></span>
          </div>
        </div>
      </div>

    <--</div>-->
  </div>
  <div class="modal fade" id="learn" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-md" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Learn Set</h4>
        </div>
        <div class="modal-body">
          <form>
            <div class="btn-group" id="#methodRadio">
              <h3>Method</h3>
              <label class="radio-inline"><input type="radio" name="optradio" data-ng-model="session.learnmethod" value="0">Manual Testing</label>
              <label class="radio-inline"><input type="radio" name="optradio" data-ng-model="session.learnmethod" value="1"> Multiple Choice</label>
              <label class="radio-inline"><input type="radio" name="optradio" data-ng-model="session.learnmethod" value="2"> Typed Answer</label>
            </div>
            <div class="checkbox">
            <label>
              <input type="checkbox" ng-model="session.shuffle"> Shuffle Cards
            </label>
          </div>
          <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="session.learntonly"> Learnt Cards Only
          </label>
        </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" ng-click="startsession(session)" data-dismiss="modal">Start</button>
        </div>
      </div>
    </div>
  </div>
</main>
