<head>
  <title>Subjects</title>
</head>
<!--Navbar-->
<div class="navbar navbar-custom navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <!--Toggle navigation button on mobile version-->
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class = "icon-bar"></span>
        <span class = "icon-bar"></span>
        <span class = "icon-bar"></span>
      </button>
      <a class = "navbar-brand"  href = "#"><p>
        <img class="logo" src="images/logowhite.png" />
        <img class="logo hover" src="images/logoblack.png" />
        E-Flashcards</p>
      </a>
    </div>
    <div class = "navbar-collapse collapse">
      <ul class = "nav navbar-nav navbar-right">
        <!--Buttons - unique to page-->
        <li ><a  class="nav-button" href="/#/start/{{userid}}">Start</a></li>
        <li><a class="nav-button" href="/#/newset/{{userid}}">New Set</a></li>
        <li><a class="nav-button" data-toggle="modal" data-target="#newSubject">New Subject</a></li>
        <li><a class="nav-button active" href="/#/subjects/{{userid}}">Subjects</a></li>
        <li><a class="nav-button" href="/#/">Log Out</a></li>
      </ul>
    </div>
  </div>
</div>
<main>
  <div class = "container">
    <header>
      <div class ="page-header">
        <h1>Your Subjects</h1>
      </div>
    </header>
  </div>
  <div class="container">
    <h3>Overall <small>{{overall.learnt}}/{{overall.total}} Cards Learnt</small></h3>
    <div class="progress">
      <div class="progress-bar progress-bar-success" style="width: {{overall.percentage}}%; min-width: 2em;">
        {{overall.percentage}}%
      </div>
    </div>
    <div class="row">
      <!--Display sets in grid view
      lg screen: 4 subjects wide
      md screen: 3 subjects wide
      sm screen: 2 subjects wide
      xs screen; 2 subjects wide-->
      <div ng-repeat="subject in subjects" class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
        <div class="thumbnail" id="subjectthumbnail" ng-click="selectSubject(subject.id)">
          <a href="/#/sets/{{userid}}/{{subject.subjectid}}">
            <img id="subjectimg" src={{subject.image}} alt="/images/subjects/Other.png" width=100% >
            <div class="caption">
              <h3>{{subject.name}}<br>
                <small>{{subject.learnt}}/{{subject.total}} Cards Learnt</small>
              </h3>
              <div class="progress nopadding">
                <div class="progress-bar progress-bar-success" style="width: {{subject.percentage}}%; min-width: 2em;">
                  {{subject.percentage}}%
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3" >
        <div class="thumbnail not-there" id="subjectthumbnail" data-toggle="modal" data-target="#newSubject">
          <img id="subjectimg" src="images/add.png" width=100%>
          <h3 class = "text-center">New Subject</h3><br><br><br>
        </div>
      </div>
      <!-- New set pop-up box -->
      <div class="modal fade" id="newSubject" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">New Subject</h4>
            </div>
            <div class="modal-body">
              <form name="NewSetForm" class = "form-horizontal" >
                <div class="form-group">
                <div class="row">
                <div class = "col-sm-4">

                  <label class="control-label col-sm-3"for="subjectname">Name </label>
                  <div class="col-sm-9">
                    <input type="text" name="subjectname" ng-model="subjectdetails.name" id="name" class="form-control" placeholder="Enter subject name">
                  </div>
                </div>
                <div class = "col-sm-8">
                  <label class="control-label col-sm-1"for="subject">Icon</label>
                  <div class = "container col-sm-11">
                      <div class = "col-xs-3 col-sm-2" ng-repeat="image in subjectimages" >
                        <label class="radio"><input type="radio" name="optradio" value={{image}} ng-model="subjectdetails.image"><img src={{image}} width = 100%></label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" ng-click="createSubject(subjectdetails)" data-dismiss="modal">Save</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
