<main>
  <div class = "container">
    <header>
      <div class ="page-header">
        <h1>Your Subjects</h1>
      </div>
    </header>
  </div>
  <div class="container">
    <h3>Overall <small>{{overall.learnt}}/{{overall.total}} Cards Learnt</small></h3>
    <div class="progress">
      <div class="progress-bar progress-bar-success" style="width: {{overall.percentage}}%">
        {{overall.percentage}}%
      </div>
    </div>
    <div class="row">
      <div ng-repeat="subject in subjects" class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="thumbnail" ng-click="selectSubject(subject.id)">
          <a href="/#/sets/{{userid}}/{{subject.subjectid}}">
            <img id="subjectimg" src={{subject.image}} alt="/images/subjects/Other.png" width=200px>
            <div class="caption">
              <h3>{{subject.name}}<br>
                <small>{{subject.learnt}}/{{subject.total}} Cards Learnt</small>
              </h3>
              <div class="progress">
                <div class="progress-bar progress-bar-success" style="width: {{subject.percentage}}%; min-width: 2em;">
                  {{subject.percentage}}%
                </div>
                  <!--
                  <div class="progress-bar progress-bar-danger" style="width: 25%">
                    25%
                  </div>
                -->
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" >
        <div class="thumbnail not-there" data-toggle="modal" data-target="#newSubject">
          <img id="subjectimg" src="images/add.png" width=200px>
          <h3 class = "text-center">New Subject</h3>
        </div>
      </div>
      <!-- Modal -->
      <div class="modal fade" id="newSubject" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">New Subject</h4>
            </div>
            <div class="modal-body">
              <form name="NewSetForm" class = "form-horizontal" >
                <div class="form-group">
                <div class="row">
                <div class = "col-sm-3">

                  <label class="control-label col-sm-2"for="subjectname">Name</label>
                  <div class="col-sm-10">
                    <input type="text" name="subjectname" ng-model="subjectdetails.name" id="name" class="form-control" placeholder="Enter subject name">
                  </div>
                  <!--<div class="col-sm-5 errormessage">
                    <p>{{errormessage.name}}</p>
                  </div>-->
                </div>
                <!--<div class="form-group inline">-->
                <div class = "col-sm-9">
                  <label class="control-label col-sm-1"for="subject">Icon</label>
                  <div class = "container col-sm-11">
                      <div class = "col-xs-4 col-sm-2" ng-repeat="image in subjectimages" >
                        <label class="radio"><input type="radio" name="optradio" value={{image}} ng-model="subjectdetails.image"><img src={{image}} width = 100%></label>
                      </div>
                    </div>
                  </div>
                </div>
                  <!--</div>
                  <!--<div class="col-sm-5 errormessage">
                    <p>{{errormessage.subject}}</p>
                  </div>-->
              </div>

            <!--</div>-->
        </div>

            
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" ng-click="createSubject(subjectdetails)" data-dismiss="modal">Save</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
