<div class="navbar navbar-custom navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class = "icon-bar"></span>
        <span class = "icon-bar"></span>
        <span class = "icon-bar"></span>
      </button>
      <a class = "navbar-brand"  href = "/#/start/{{userid}}"><p><img id=logo src="images/logowhite.png" align="bottom" width="30px" height="30px"> E-Flashcards</p></a>
    </div>
    <div class = "navbar-collapse collapse">
      <ul class = "nav navbar-nav navbar-right">
        <li ><a  class="nav-button" href="/#/start/{{userid}}">Start</a></li>
        <li><a class="nav-button" href="/#/newset/{{userid}}">New Set</a></li>
        <li><a class="nav-button active" >Learn Set</a></li>
        <li><a class="nav-button" href="/#/subjects/{{userid}}">Subjects</a></li>
      </ul>
    </div>
  </div>
</div>
<main>
  <div class="container">
    <div class = "row">
        <h2 class="smallheader">Learn {{set.name}} <small >Manual Testing</h2>
    </div>
    <div class="progress">
      <div class="progress-bar progress-bar-success" style="width: {{correct}}%;  min-width: 2em;">
        {{correct}}%
      </div>
      <div class="progress-bar progress-bar-danger" style="width: {{incorrect}}%;  min-width: 2em;">
        {{incorrect}}%
      </div>
    </div>
  <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
      <!-- Wrapper for carousel items -->
      <div class="carousel-inner">
        <div ng-repeat="card in flashcards" class="item thumbnail flashcard {{card.active}}">
          <div class="mc">
            <div class="typedarea">
              <form>
                <div class="control-label col-xs-12" id="fronttext">{{card.front}}</div>
                <div class="col-sm-10">
                  <input type="text" name="backentry" ng-model="back" id="backentry" class="form-control input-lg" placeholder="Enter Back">
                </div>
                <button  class="col-sm-2 btn btn-primary input-lg"  ng-click="">Submit</button>
              </form>
            </div>
        </div>
      </div>
      <a class="carousel-control right" href="//#myCarousel" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
  </div>
</div>
