*{
  font-family: Calibri Light;
  transition: all 0.3s ease 0s;

}

h1 {
  font-size: 72px;
}

#white {
  background-color: white;

}

table{
  font-size: 24px;
}

.icon-success {
    color: white;
}

.icon-danger {
    color: white;
}

.list-success {
    color: green;
}

.list-danger {
    color: red;
}

#subjectimg{
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
}

body{
  background-color: #DBE6EC;
  padding: 30px;
}

.navbar-custom {
  background-color: #FA6900;
  opacity: 0.8;
  border-bottom: 5px solid #F38630;
}

.navbar-brand {
  color: white;
  font-size: 30px;
}

.navbar-brand:hover {
  color: black;
}

h2 {
  padding:10px;
  font-size: 40px
}

.errormessage {
  color: red;
  font-size: 15px;
}

#central-options {
  width: 520px;
  margin: 0 auto;
  padding-top: 30px;
}


.central-form {
  width: 1000px;
  margin: 0 auto;
  padding-top: 30px;
  background-color: green;
}


.menu {
  margin : 20px;
}

.option {
  width : 240px;
}

.nav-button{
  color:white;


}

.badge{
  background-color: white;
  color: #FA6900;
  font-size: 15px;
}

.badge:hover{
  background-color: black;
  color: #DBE6EC;
}



a {
  color : black;
}

a:hover {
  text-decoration: none;
};


ul.nav a:hover { background-color: #DBE6EC;
                  color: black;
};

label{
  font-size: 15px;
}

#newsetform{
  background-color: white;
  padding-left: 30px;
  padding-bottom: 30px;
  padding-right: 30px;
  border: 5px solid grey;
}

.flashcardinput {
  /*background-image: url("http://www.flippity.net/images/Flashcard-BG-Side1.gif");
  /*background-size: 100% 100%;
  background-color: #DBE6EC;
  background-repeat: repeat-y;*/
  font-size: 25px;
  /*text-align: center;
  /*vertical-align: middle;*/

}

.btn-custom {
  background-color: white;
  border: 1px solid lightgrey;
}

#topbutton{
  margin-top: 42px;
}
.magicbuttons{
  margin:12px;
}

#newbutton{
  margin:auto;
}

.thumbnail{
  padding: 0px;
}

.thumbnail:hover{
  box-shadow : 0 0 40px #69D2E7;
  transform: scale(1.02);
}


img {
  transition: all 0.3s ease 0s;

}
/*img:hover {
  transform: scale(1.1);
}*/

.not-there{
  background-color: transparent;
  border : 0px;
  box-shadow : none;
};

.not-there:hover{
  box-shadow : none;
};


body {
    height: 100%;
}

.carousel{
  width : 100%;
  margin-bottom: 100px;
  background-color: orange;

}

/* Background images are set within the HTML using inline CSS, not here */

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

footer {
    margin: 50px 0;
}

.carousel-caption {
    top: 0;
    bottom: auto;
    color:black;
    font-size: 34px
}

.grade {
    font-size: 72px;
}

.danger{
  background-color:  #FF3333;
  border-left: 5px solid red;
}

.success{
  background-color:  #339A33;
  border-left: 5px solid green;

}

.side{
  height:100px;
  line-height: 100%;
  overflow: hidden;
}

#back{
  border-top: 1px solid grey;
}

.modal-header {
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #0480be;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
     color: white;
 }

 .modal-header-error {
     padding:9px 15px;
     border-bottom:1px solid #eee;
     background-color: red;
     -webkit-border-top-left-radius: 5px;
     -webkit-border-top-right-radius: 5px;
     -moz-border-radius-topleft: 5px;
     -moz-border-radius-topright: 5px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      color: white;
  }

 .bottom-tab{
   color: white;
   font-size: 25px;
   padding: 5px;
 }


 .flashcard{
   margin: 5%;
   margin-left: 15%;
   margin-right: 15%;
   height:70%;
   font-size: 50px;
   box-shadow : 0 0 100px grey;
 }

 .flashcard:hover{
   box-shadow : 0 0 100px grey;
 }

.half {
  height : 50%;
  padding: 5%
}

#bottom{
  border-top: 2px solid grey;
}


.mc{
  margin: 10%;

}

.mcoptions{
  font-size: 30px;

}

.mcbuttons{
  font-size: 30px;
  padding:10%;
}

.typedarea{
  font-size: 50px;
  padding: 5%;
  margin-top: 10%;
  margin-bottom: 10;
  line-height: 100%;
}

#fronttext{
  padding-bottom: 3%;
}

#backentry{
  font-size: 30px;
}

.smallheader{
  padding: 0px;
  padding-top: 10px;
}

#gradeoption{
  font-size: 30px;
  height: auto;
  width: auto;
}

.view-change {
  padding-top: 50px;
}

.definition{
  background: white;
  border-radius:3px;
  box-shadow : 0 0 5px darkgrey;
  margin-top: 10px;
  margin-bottom: 10px;
  padding : 5px;
  width : 100%;
  font-size: 15px;
  text-align: left;
  white-space: pre-wrap;
  word-wrap: break-word;
  text-overflow: ellipsis;
  text-decoration: none;
  font-weight: normal;
}

.definition:hover{
  background: #DBE6EC;
  box-shadow : 0 0 5px black;
}

.article{
  background: white;
  border-radius:3px;
  box-shadow : 0 0 5px darkgrey;
  padding : 3px;
  margin-top: 10px;
  margin-bottom: 10px;
  width : 100%;
  font-size: 15px;
  text-align: left;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow: hidden;

  text-decoration: none;
  font-weight: normal;
  height : 100px;
}

.article:hover{
  background: #DBE6EC;
  box-shadow : 0 0 5px black;
}



.nopadding{
  padding: 0px;
  margin: 0px;
}

textarea {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.searchbar{
  font-size: 35px;
  border-radius: 10px;
  border: 1px solid navy;
  background: white;
}

.searchbutton{
  font-size: 25px;
  border-radius: 10px;
  border: 0px solid navy;
  background: white;

}
