

h1 {
  font-family: Roboto Thin;
  font-size: 8vh;
}


#white {
  background-color: white;

}

table{
  font-size: 24px;
}

.icon-success {
    color: white;
}

.icon-danger {
    color: white;
}

.list-success {
    color: green;
}

.list-danger {
    color: red;
}

#subjectimg{
  padding-left: 25%;
  padding-right: 25%;
  padding-top: 5%;
}

body{
  font-family: Calibri Light;
  background-color: #DBE6EC;
  padding: 30px;
}

.navbar-custom {
  background-color: #FA6900;
  opacity: 0.8;
  border-bottom: 5px solid #F38630;
}

.navbar-brand {
  font-family: Roboto Thin;
  color: white;
  font-size: 30px;
  text-shadow: 0px 0px #ff0000;
}

.navbar-brand:hover {
  color: black;
}

h2 {
  font-family: Roboto Thin;
  padding-bottom:10px;
  padding-top:10px;
  font-size: 6vh;
}

.errormessage {
  color: red;
  font-size: 15px;
}

#central-options {
  width: 520px;
  margin: 0 auto;
  padding-top: 30px;
}


.central-form {
  width: 1000px;
  margin: 0 auto;
  padding-top: 30px;
  background-color: green;
}


.menu {
  margin : 20px;
}

.option {
  width : 240px;
}



.nav-button{
  font-family: Calibri Light;
  color:white;
}

.nav-button:hover{background-color: #F38630;

}

.badge{

  background-color: white;
  color: #FA6900;
  font-size: 15px;
}




.active {background-color: #F38630;}

label{
  font-size: 15px;
}

#newsetform{
  background-color: white;
  padding-left: 30px;
  padding-bottom: 30px;
  padding-right: 30px;
  border: 5px solid grey;
}

.flashcardinput {
  /*background-image: url("http://www.flippity.net/images/Flashcard-BG-Side1.gif");
  /*background-size: 100% 100%;
  background-color: #DBE6EC;
  background-repeat: repeat-y;*/
  font-size: 25px;
  /*text-align: center;
  /*vertical-align: middle;*/

}

.btn-custom {
  background-color: white;
  border: 1px solid lightgrey;
}

#topbutton{
  margin-top: 42px;
}
.magicbuttons{
  margin:12px;
}

#newbutton{
  margin:auto;
}
#subjectthumbnail{
  min-width:105px;
  min-height: 180px;

}

.thumbnail:hover{
  box-shadow : 0 0 40px #69D2E7;
  transform: scale(1.02);
}


img {
  transition: all 0.3s ease 0s;

}
/*img:hover {
  transform: scale(1.1);
}*/

.not-there{
  background-color: transparent;
  border : 0px;
  box-shadow : none;
};

.not-there:hover{
  box-shadow : none;
};



body {
    height: 100%;
}

.carousel{
  width : 100%;
  margin-bottom: 100px;
  background-color: #FA8630;

}

/* Background images are set within the HTML using inline CSS, not here */

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

footer {
    margin: 50px 0;
}

.carousel-caption {
    top: 0;
    bottom: auto;
    color:black;
    font-size: 34px
}

.grade {
    font-size: 72px;
}

.danger{
  background-color:  #FF3333;
  border-left: 5px solid red;
}

.success{
  background-color:  #339A33;
  border-left: 5px solid green;
}

.total{
  background-color:  #F1F5F7;
  border-left: 5px solid #3366FF;
}

.side{
  height:100px;
  line-height: 110%;
  overflow: auto;
}

#back{
  border-top: 1px solid grey;
}

.modal-header {
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #0480be;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
     color: white;
 }

 .modal-header-green {
     padding:9px 15px;
     border-bottom:1px solid #eee;
     background-color: green;
     -webkit-border-top-left-radius: 5px;
     -webkit-border-top-right-radius: 5px;
     -moz-border-radius-topleft: 5px;
     -moz-border-radius-topright: 5px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      color: white;
  }

 .modal-header-error {
     padding:9px 15px;
     border-bottom:1px solid #eee;
     background-color: red;
     -webkit-border-top-left-radius: 5px;
     -webkit-border-top-right-radius: 5px;
     -moz-border-radius-topleft: 5px;
     -moz-border-radius-topright: 5px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      color: white;
  }

 .bottom-tab{
   color: white;
   font-size: 25px;
   padding: 5px;
 }


 .flashcard{
   margin: 5%;
   margin-left: 15%;
   margin-right: 15%;
   height:70%;
   font-size: 6vh;
   box-shadow : 0 0 100px grey;
   background: white;
 }

 .flashcard:hover{
   box-shadow : 0 0 100px grey;
 }

.half {
  height : 50%;
  padding: 4%;
  overflow: auto;
  line-height: 110%;

}

#bottom{
  border-top: 2px solid grey;
}


.mc{
  margin: 5%;

}

.mcoptions{
  font-size: 30px;
}

.mcbuttons{
  font-size: 30px;

}

.typedarea{
  font-size: 50px;
  padding: 1%;
  margin-top: 10%;
  margin-bottom: 10%;
  line-height: 100%;
}

#fronttext{
  padding-bottom: 3%;
}

.backentry{
  font-size: 30px;
}

.smallheader{
  padding: 0px;
  padding-top: 10px;
}

#gradeoption{
  font-size: 30px;
  height: auto;
  width: auto;
}

.view-change {
  padding-top: 50px;
}

.definition{
  background: white;
  border-radius:3px;
  box-shadow : 0 0 5px darkgrey;
  margin-top: 10px;
  margin-bottom: 10px;
  padding : 5px;
  width : 100%;
  font-size: 15px;
  text-align: left;
  white-space: pre-wrap;
  word-wrap: break-word;
  text-overflow: ellipsis;
  text-decoration: none;
  font-weight: normal;
}

.definition:hover{
  background: #DBE6EC;
  box-shadow : 0 0 5px black;
}

.article{
  background: white;
  border-radius:3px;
  box-shadow : 0 0 5px darkgrey;
  padding : 3px;
  margin-top: 10px;
  margin-bottom: 10px;
  width : 100%;
  font-size: 15px;
  text-align: left;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow: hidden;

  text-decoration: none;
  font-weight: normal;
  height : 100px;
}

.article:hover{
  background: #DBE6EC;
  box-shadow : 0 0 5px black;
}



.nopadding{
  padding: 0px;
  margin: 0px;
}

textarea {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.searchbar{
  font-size: 35px;
  border-radius: 10px;
  border: 1px solid navy;
  background: white;
}

.searchbutton{
  font-size: 25px;
  border-radius: 10px;
  border: 0px solid navy;
  background: white;

}

#sortbydropdown {
  margin-bottom: 10px;
}

.right-align{
  text-align: right;
}

.summary{
  marign: 20px;
}

.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  background-color: white;
  border-radius: 2px;
}

h3{
  font-size: 3vh;
}

.alert{
  margin-top: 10px;
  font-size: 20px;
}

.correct{
  color: green;
  font-weight: bolder;
}

.incorrect{
  color: red;
  font-weight: bolder;
}

.selected{
  color:blue;
}


label{
  font-family: Calibri Light;
  font-weight: lighter;
}

.mcmessage{
  text-align: left;
  padding: 0px;
}

.flashcard{
  overflow: auto;
}

.input-lg{
  font-family: Roboto Thin;
  padding-bottom:10px;
  padding-top:10px;
  margin-right: 0px;
}



.answericon{
  margin-right: 25px;
  font-size: 4vh;

}

.correction{
  font-size: 30px;

}

.findoutmoreleft{
  padding: 0px;
  padding-right: 1%
}

.findoutmoreright{
  padding: 0px;
  padding-left: 1%
}

.correctionicon{
  margin-right: 25px;
  font-size: 4vh;
}

.side-error{
  box-shadow : 0 0 20px red;
}


a {
  color: grey;
}

a:hover{
  color: black;
  text-decoration: none;
  transition: none;
}

.navbar-brand img.logo{
  margin-bottom: 5px;
  width : 30px;
  height : 30px;
}
.navbar-brand:hover img.logo{
  display:none;
}
.navbar-brand img.hover{
  display:none;
}
.navbar-brand:hover img.hover{
  display:inline;
}

.option img.menu{
  width : 200px;
  height : 200px;
}
.option:hover img.menu{
  display:none;
}
.option img.hover{
  display:none;
}
.option:hover img.hover{
  display:inline;
}
